*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
node_modules
.idea/.idea/misc.xml
.idea/.idea/modules.xml
.idea/.idea/vcs.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/misc.xml